<h1>Links</h1>
<ul>
  <li><a href="http://www.escience.cn/people/lei/index.html">My escience</a></li>
  <li><a href="http://www4.comp.polyu.edu.hk/~csdzhang/">Prof David Zhang</a></li>
  <li><a href="http://www.ntu.edu.sg/home/egbhuang/elm_codes.html">Prof Guangbin Huang</a></li>
  <li><a href="http://www.ccee.cqu.edu.cn/index.aspx?lanmuid=75&sublanmuid=738&id=591">Prof Fengchun Tian</a></li>
</ul>

<div>
<a href="http://www3.clustrmaps.com/user/96311fa85"><img src="http://www3.clustrmaps.com/stats/maps-no_clusters/www.leizhang.tk-thumb.jpg" alt="Locations of visitors to this page" />
</a>
</div>