<h1>Links</h1>
<ul>
  <li><a href="http://www.escience.cn/people/lei/index.html">My escience</a></li>
  <li><a href="http://www4.comp.polyu.edu.hk/~csdzhang/">Prof David Zhang</a></li>
  <li><a href="http://www.ntu.edu.sg/home/egbhuang/elm_codes.html">Prof Guangbin Huang</a></li>
  <li><a href="http://www.ccee.cqu.edu.cn/index.aspx?lanmuid=75&sublanmuid=738&id=591">Prof Fengchun Tian</a></li>
</ul>


<a href="http://www3.clustrmaps.com/counter/maps.php?url=http://www.leizhang.tk" id="clustrMapsLink"><img src="http://www3.clustrmaps.com/counter/index2.php?url=http://www.leizhang.tk" style="border:0px;" alt="Locations of visitors to this page" title="Locations of visitors to this page" id="clustrMapsImg" />
</a>
<script type="text/javascript">
function cantload() {
img = document.getElementById("clustrMapsImg");
img.onerror = null;
img.src = "http://www2.clustrmaps.com/images/clustrmaps-back-soon.jpg";
document.getElementById("clustrMapsLink").href = "http://www2.clustrmaps.com";
}
img = document.getElementById("clustrMapsImg");
img.onerror = cantload;
</script>