<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
<img class="about-avatar" src="{{ "/img/myimagenew.jpg" | prepend: site.baseurl }}" border="0" alt="[name]" />
 
<p><a href="http://www.leizhang.tk/resources/LeiZhang.jpg"></a></p>

    <h1>Contact me</h1>
<p><B>Lei Zhang, Ph.D, Professor, IEEE Senior Member, ACM Member, CCF/CAAI/CSIG Member; Deputy Director of Chongqing Key Laboratory of Bio-perception & Intelligent Information Processing; Head of LiVE (Learning Intelligence & Vision Essential) Group</p></B><p><B>Associate Editor for IEEE Transactions on Instrumentation and Measurement (IF: 3.067)</B></p><p><B>Associate Editor for Neural Networks (Elsevier, IF: 5.875)</B></p><p><B>Associate Editor for CAAI Transactions on Intelligent Technology</B></p><p><B> Guest Editor for The Visual Computer</B></p><p><B>Guest Editor for "Brain Inspired Neural Networks and Deep Learning Systems"</B></p><p><B>Area Chair (AC) for ACM MM 2020/2021, AAAI 2021, PRCV-2021</B></p><p>2013~2015, Hong Kong Scholar(HKPU), Postdoctoral Fellow</p><p>2015~, Professor, Distinguished Researcher, School of Microelectronics and Communication Engineering, Chongqing University,China</p><p>2017~2018, Visiting Professor, University of Macau</p>

E-mail: leizhang@cqu.edu.cn
Personal Website: <a href="http://www.escience.cn/people/lei/index.html">E-science</a>
<p style="color:green;">Note: I am in office all day from 9:00am to 9:00pm</p>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
