<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">

<img class="about-avatar" src="{{ "/img/myimage.jpg" | prepend: site.baseurl }}" border="0" alt="[name]" />

<p><a href="http://www.leizhang.tk/resources/LeiZhang.jpg"></a></p>

    <h1>Contact me</h1>
<p><B>Lei Zhang, Ph.D, Professor, IEEE/IEEE CIS/ACM/CCF/CAAI/CSIG Member; Deputy Director of Chongqing Key Laboratory of Bio-perception & Intelligent Information Processing; Head of LiVE (Learning Intelligence & Vision Essential) Group</p></B><p>2013~2015, Hong Kong Scholar(HKPU), Postdoctoral Fellow</p><p>2015~, Professor, Distinguished Researcher, College of Communication Engineering, Chongqing University,China</p> 

E-mail: leizhang@cqu.edu.cn
Personal Website: <a href="http://www.escience.cn/people/lei/index.html">E-science</a>
<p style="color:green;">Note: I am in office all day from 8:00am to 10:00pm</p>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
